# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/
.devcontainer/

# Models & Data (Don't bake large files into image)
models/
data/
logs/

# Documentation
docs/
site/
